$break-desktop-extlarge: 1800px;
$break-desktop-large: 1600px;

@media screen and (min-width: $break-desktop-large) {
.container {
    padding: 0 82px;
    width: 1361px;
}
}

@media screen and (min-width: $break-desktop-extlarge) {
.container {
    padding: 0 59px;
    width: 1633px;
}
}